{% extends "layouts/base.njk" %} 

{% block body %} 
{% include "partials/nav.njk"%}

    <main>
        {% block main %} 
        
        {% endblock main %}
    </main>

    {% include "partials/footer.njk" %} 
{% endblock body %}
